# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / build
build/
dist/
*.egg-info/
wheels/
*.tar.gz
*.zip

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/
users.json
