body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.error {
    color: red;
    font-weight: bold;
}
